<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DockerSuite">
  <test thread-count="2" parallel="methods" name="DockerTest">
    <classes>
      <class name="com.SeleniumWithDocker.TestGooglePageWithDocker"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
